@page "/episodes"
@layout PokemonLayout

<h2>Episodes</h2>

<ul>
    <li>
        <a href="https://replay.gulli.fr/dessins-animes/Pokemon-s21/pokemon-s21-e33-les-vertus-de-la-colere-vod69047901774000">
            <em>Pokémon : Les vertus de la colère</em>
            <em>S21 ép. 33</em>
        </a>
    </li>
    <li>
        <a href="https://www.bbc.co.uk/programmes/p00vfdsb">
            <em>The Sun Makers</em>
        </a>
    </li>
    <li>
        <a href="https://www.bbc.co.uk/programmes/p00vhc26">
            <em>Nightmare of Eden</em>
        </a>
    </li>
</ul>
