@page "/"
@using System.Globalization

<PageTitle>Index</PageTitle>

<h3>@Localizer["Title"]</h3>

<h4>Page Inventaire</h4>
<p>
    Sur la page de l'inventaire, vous pouvez visualiser votre inventaire ainsi qu'une liste des items disponibles.
</p>

<h5>Liste :</h5>
<p>
    Sur cette liste, vous pouvez chercher un item par son nom ainsi que trier les items par ordre alphabétique. 
    Pour ajouter un item dans votre inventaire, il vous suffit de glisser et de 
    le déposer depuis la liste jusqu'à une case de votre inventaire. 
    Si l'item est déposé sur un item semblable, il est ajouté à la quantité déjà présente sinon l'action est annulée. 
    On ne peut ajouter plus que la quantité maximale.
    Chaque item de la liste est éditable et supprimable.
    De plus, vous pouvez changer le nombre d'items par page de la liste dans les fichiers de configuration.
</p>

<h5>Inventaire :</h5>
<p style="margin-bottom: 30px">
    Concernant l'inventaire, plusieurs actions sont possibles. On peut déplacer un item avec les mêmes conditions que 
    l'ajout d'un item, on peut supprimer un item en le déplaçant en dehors de l'inventaire et on peut diviser 
    la quantité d'un item par deux en faisant un clique droit sur celui-ci.
    Sa sauvegarde est effectué à chaque changement en JSON.
    La limite de case d'inventaire peut être redéfini dans les fichiers de configuration. Attention : si la taille de
    l'inventaire diminue, les items situés dans les dernières seront supprimés. Par exemple, si on passe d'une taille
    d'inventaire de 10 à 9, les items de la case 10 seront supprimés.
</p>


<h4>Page Ajout</h4>
<p>
    Pour rajouter des nouveaux items dans la liste, il faut aller sur la page ajout, entrer toutes les informations
    nécessaires et valider les conditions afin que l'item soit ajouté convenablement.
</p>