@page "/inventory"
@using MineWeb.Component

<CascadingValue Value="@this">
    <h3>@Localizer["Title"]</h3>

    <div class="all">
        <div class="inventory">
            <MyInventory Items=ItemsInventory />
        </div>
        <div class="list">
            <ItemList />
        </div>
    </div>

</CascadingValue>
