@page "/inventory"
@using MineWeb.Component

<h3>Inventory</h3>

<div class="all">
    <div class="inventory">
        <MyInventory Items=ItemsInventory />
    </div>
    <div class="list">
        <ItemList />
    </div>
</div>