.all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inventory, .list {
    width: 45%;
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 20px;
}