@inherits LayoutComponentBase

<header>
    <h1>PokemonLayout&trade; Episode Database</h1>
</header>

<nav>
    <a href="masterlist">Master Episode List</a>
    <a href="search">Search</a>
    <a href="new">Add Episode</a>
</nav>

@Body

<footer>
    @TrademarkMessage
</footer>

@code {
    public string TrademarkMessage { get; set; } =
        "Pokemon is a registered trademark of the The Pokémon Company. " +
        "https://www.pokemon.com/fr/";
}
