@using MineWeb.Model

<CascadingValue Value="@this">
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" onkeydown="search(event)" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </div>

    @if (items != null)
    {
        <table class="table">
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <ItemListComponent CurrentItem="item" />
                    </tr>
                }
            </tbody>
        </table>
    }

    <DataGrid TItem="Item"
              Data="@items"
              ReadData="@OnReadData"
              TotalItems="@totalItem"
              PageSize="7"
              ShowPager
              Responsive>
    </DataGrid>
</CascadingValue>