<CascadingValue Value="@this">
    <div class="container">
        <div class="css-MyInventory">

            @for (int i = 0; i < Items.Count(); i++)
            {
                @if (Items.ContainsKey(i))
                {
                    <ItemComponent Index=i Item=Items[i] />
                }
                else 
                {
                    <ItemComponent Index=i Item=null />
                }
            }
        </div>

        <div class="col-12">
            <div>Actions</div>
            <div class="actions" id="actions">


            </div>
        </div>
    </div>
</CascadingValue>